.box {
  width: 100px;
  height: 100px;
  background-color: green;
  transition-property: background-color;
  transition-duration: 2s;
}

.box:hover {
  width: 200px;
  height: 200px;
  background-color: red;
}
