div {
  width: 100px;
  height: 100px;
  border: 1px solid black;
}

.translate {
  background-color: red;
}

.rotate {
  background-color: blue;
  transform: rotate(90deg);
}

.skew {
  background-color: yellow;
  transform: skew(40deg, 40deg);
}

.scale {
  background-color: green;
  transform: scale(2);
}
